.Ctablee
{
    box-shadow: 0 0 5px 3px #3399FF; 
    border-radius: 5px;
    border-color:#3399FF;
    border: 1px;
    
    }
    .card 
{
    box-shadow: 0 0 5px 3px #3399FF; 
    border-radius: 5px;
    border-color:#3399FF;
    border: 1px;
    
    }
    .card-img-top{
    box-shadow: 0 0 5px 3px #3399FF; 
    border-radius: 5px;
    border-color:#3399FF;
    border: 1px;
    
    }
    